extends layout

block content
    h1= title

    ul
        - movie_list.sort(function(a, b) {let textA = a.title.toUpperCase(); let textB = b.title.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;});
        each movie in movie_list
            li
                a(href=movie.url) #{movie.title}
                |  (#{movie.producer.name})

        else
            li There are no movies.